node_modules/
.env
*.log
.DS_Store

database/data.db
database/*.db

# Google Analytics credentials (não commitar chaves!)
pubpay-*.json
*-credentials.json
*.json
!package.json
!package-lock.json
